.header{
  text-align: center;
  background-image:url(../resources/images/BG.png);
  color: white;
}


a{
  color: White;
  text-decoration: none;
}

body{
  font-family: Helvetica;
  text-align: center;

}


h1{
  font-size: 70px;
  font-weight: bold;
}


.background{
  background-image: url(../resources/images/BG.png);
  font-size: 23px;
  color: White;
  font-weight: bold;
}
